.primaryButton
  background-color: var(--primary-col)
  color: white
  border-color: var(--lightblue-col)
  border-radius: 7px
  font-size: 14px
  font-weight: 500
  &:hover
    cursor: pointer
    background-color: transparent
    color: black
