@import '../../styles/colors'

.calendarHeader
  display: flex
  align-items: center
  justify-content: space-between
  padding: 10px 0
  .primaryBtn
    border: none
    border-radius: 50%
    &:hover
      background-color: $ligtblue-col
