@import 'styles/colors'

.cellDay
  width: 100%
  height: 150px
  border: 1px solid $ligtblue-col
  padding: 2px 0
  .dayNumber
    text-align: right
    padding: 0 5px
    font-weight: 600
    font-size: 1.4rem
  .content
    padding: 0 5px
